@import "variables";
@import "fonts";
@import "anyfetch-navbar";

$container-padding: 60px;
$button-width: 175px;

body, html {
  background-color: white;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: $font-helvetica-neue;
  font-size: 18px;
  color: white;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.anyfetch-container {
  text-align: center;
  background-color: white;
  width: 100%;
  padding-top: $container-padding;
  padding-bottom: $container-padding;
}

// TODO: refactor button styles (DRY)
.button {
  color: white;
  text-align: center;
  min-width: $button-width;
  display: inline-block;
  background-color: #1fabdb;
  border-radius: 3px;
  padding: 0.45em;

  font-size: .95em;
  font-weight: 700;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.button-transparent {
  @extend .button;
  border: 1px solid white;
  background-color: transparent;
  &:hover {
    background-color: rgba(white, .1);
  }
}

.button-blue {
  @extend .button;
  background-color: #26aae0;
  &:hover {
    background-color: rgba(#26aae0, .9);
  }
}

.button-chrome {
  @extend .button-transparent;
  > img {
    height: 1em;
    line-height: 10px;
    margin: -3px 4px 0 0;
  }
  &:hover > img {
    transform: rotate(1turn); // Cool effect, yay !
    -webkit-transform: rotate(1turn);
    transition: all .3s;
  }
}

.button-salesforce {
  @extend .button-transparent;
  > img {
    height: 1em;
    line-height: 10px;
    margin: -3px 4px -2px 0;
  }
}

.anyfetch-404 {
  @extend .intro;
  a {
    margin-top: 5em;
  }
}

.press {
  @extend .intro;
  h1 {
    margin-bottom: 3em;
  }
  ol {
    text-align: left;
  }
  a {
    color: white;
  }
}

.contact {
  @extend .intro;
  .header-group {
    margin-bottom: 3em;
  }
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #1fabdb;
  background-image: linear-gradient(4deg, #44bcef 0%, #172d6d 100%);
  text-align: center;

  > .container {
    padding-top: 140px;

    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;

    > div {
      display: table-row;
    }

    .title {
      font-family: $font-avenir;
      font-size: 2.2em;
      font-weight: 500;
    }
    .subtitle {
      font-size: 1em;
      font-weight: 300;
    }

    .buttons {
      margin-top: 60px;
      margin-bottom: 60px;
      .button {
        margin: 12px 6px;
      }
    }

    .bg-container {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      background-image: url(/images/timeline.png);
      max-height: 270px; // timeline image height
      @media (min-width: 500px) {
        max-height: 500px; // screenshot image height
        background-image: url(/images/screenshot.png);
      }
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
  }
}

.works-with {
  text-align: center;
  color: #13416c;
  font-weight: 400;
  padding-top: $container-padding / 2;
  padding-bottom: $container-padding / 2;

  p {
    margin: 0;
  }

  span {
    color: #1fabdb;
    font-weight: 700;
  }

  img {
    margin-top: $container-padding / 2;
    max-width: 100%;
  }
}

.before-anyfetch {
  width: 100%;
  background-color: #67c3ee;
  text-align: center;

  .anyfetch-badge {
    border-radius: 50px;
    background-color: white;
    color: #5d6b9f;

    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;

    padding: 0 1.2em;

    @media (min-width: 768px) {
      min-width: 250px;
    }
    @media not all and (min-width: 768px) {
      font-size: .7em;
    }
    @media not all and (min-width: 500px) { // :(
      font-size: .5em;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    tr > td {
      padding-top: 40px;
    }
    th {
      text-align: center;
    }
    img {
      max-width: 100%;
      padding: 20px;
    }
  }
}

.signup {
  width: 100%;
  background-color: #5382c7;
  padding-top: $container-padding / 2;
  padding-bottom: $container-padding / 2;
  text-align: left;

  > .container {
    position: relative;
    display: table;
    vertical-align: middle;

    p {
      display: table-cell;
      width: 100%;
      margin: 0;
      padding-right: 2em;
    }

    span.arrow {
      $arrow-size: 24px;
      content: "";
      background-color: rgb(103, 195, 238);
      width: $arrow-size;
      height: $arrow-size;
      display: block;

      top: -($container-padding / 2) - ($arrow-size / 2);
      position: absolute;
      margin: auto;

      right: $button-width / 2;

      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    @media (max-width: 767px) {
      span.arrow {
        right: 0;
        left: 0;
      }

      .signup-button {
        text-align: center;
        margin-top: .4em;
        margin-bottom: 1em;
      }

      .col-sm-9 {
        p {
          padding: 0;
        }
        text-align: center;
        font-size: .9em;
      }
    }

    .signup-button.hidden-xs a {
      float: right;
    }
  }
}

.features {
  width: 100%;
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 40px;
    color: #13416c;
    font-size: 28px;
    font-weight: 700;
  }

  h4 {
    color: #2673ba;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.4em;
  }

  p {
    color: #6b6b6b;
    font-weight: 300;
    font-size: .9em;
  }

  img {
    max-width: 80%;
    width: 80%;
  }
}

.signup-final {
  padding-top: $container-padding / 2;
  padding-bottom: $container-padding / 2;

  text-align: center;
  color: white;
  background-color: #5382c7;
}

footer {
  @extend .signup-final;
  a {
    color: white;
    &:hover {
      color: rgba(white, .8);
      text-decoration: none;
    }
  }
}
